body {
  font-family: sans-serif;
  background-color: #313131;
  color: #ebdbb2;
  margin: 10px 0px 0px 0px;
  padding: 10px;
}

tr th {
  font: Verdana;
  text-align: center;
  color: #ebdbb2;
  border: 5px solid;
  border-color: #d79921;
  padding: 5px;
  background-color: #cc241d;
}

tr td {
  font: Verdana;
  text-align: center;
  color: #dcdccc;
  border: 1px solid;
  border-color: #b8bb26;
  padding: 5px;
  background-color: #b22222;
}

h1 {
  color: #ebdbb2;
  text-shadow: 1px 1px 3px black;
}

h2 {
  color: #dcdccc;
  text-shadow: 1px 1px 2px black;
}

p {
  color: #dcdccc;
}

a {
  color: #458588;
}

input {
  font-family: sans-serif;
  padding: 5px;
  margin: 0px 0px 25% 0px;
}

button {
  font-family: sans-serif;
  padding: 5px;
  margin: 0px 0px 25% 0px;
}

select {
  font-family: sans-serif;
  padding: 5px;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Add-icon {
  color: #5a981a;
  height: 100px;
  width: 100px;
  filter: drop-shadow(1px 1px 1px black);
}

.logo {
  color: #1a9897;
  height: 170px;
  width: 170px;
  filter: drop-shadow(1px 1px 1px black);
}
